.question-card {
    margin-bottom: 16px;
    border-radius: 18px;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.55);
    box-shadow:
            0 10px 28px rgba(0, 120, 255, 0.25),
            inset 0 1px 0 rgba(255, 255, 255, 0.9);
}

.question-button {
    width: 100%;
    padding: 18px 22px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 600;

    background: transparent;
    border: none;
    cursor: pointer;
}

.question-text {
    text-align: left;
}

.question-icon {
    font-size: 14px;
    color: #045;
    transition: transform 0.35s ease, opacity 0.2s ease;
    opacity: 0.7;
}

.question-icon.open {
    transform: rotate(180deg);
    opacity: 1;
}


.answer-wrapper {
    max-height: 0;
    overflow: hidden;

    opacity: 0;
    transform: translateY(-6px);

    transition:
            max-height 0.45s cubic-bezier(0.4, 0, 0.2, 1),
            opacity 0.25s ease,
            transform 0.25s ease;
}

.answer-wrapper.open {
    max-height: 200px;
    opacity: 1;
    transform: translateY(0);
}

.answer {
    padding: 18px 22px;
    font-size: 16px;
    line-height: 1.6;

    background: rgba(255, 255, 255, 0.75);
    border-top: 1px solid rgba(0,0,0,0.05);
}
